* {
    margin: 0;
    padding: 0;
}

.post {
    border: solid 2px black ;
    padding: 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #27445C;
    padding: 15px;
    color: white;
}

.header .navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.authenticate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
}

.authenticate input {
    width: 300px;
    height: 25px;
    padding-left: 5px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.authenticate button {
    width: 309px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.authenticate h1 {
    padding-left: 10px;
    padding-right: 10px;
}